{{#if canshowMiragePreview}}
  <div>
    <header>
      <h1>Ember Mirage Information</h1>
      {{#if this.canShowDB}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mirage-gen-icon mirage-close" style="right: 28px;top: 37px;" {{action "toggleshowDB"}}>
          <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
          <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
        </svg>
      {{/if}}
      <span class="mirage-close mirage-pos-relative" {{action "hideMiragePreview"}}>x</span>
    </header>
    {{#if this.canShowDB}}
      <MirageGenApi class="mirage-code-section" @response={{this.selectedMirageResponse}} />
      <MirageGenDb @response={{this.selectedMirageResponse}} />
    {{else}}
      <u class="mirage-code-heading">Your response</u>
      <section class="mirage-pos-relative mirage-code">
        <pre class="mirage-code-block">{{this.stringifiedResponse}}</pre>
      </section>
      {{#if this.isObjFormat}}
        {{#if this.hasObjProp}}
          <u class="mirage-code-heading">Type of DB(DataBase)</u>
          <MirageGenObjTree @obj={{this.selectedMirageResponse.data}} @resetObj={{action "resetObj"}} />
        {{else}}
          <table class="mirage-gen-table">
            <tbody>
              <tr>
                <td><b>Type of DB(DataBase)</b></td>
                <td>
                  <input type="radio" id="Starting Node-1" name="Starting Node-1" checked={{resultObj.isFactory}} onclick={{action "selectDBType" resultObj "isFactory"}}>
                  <label for="Starting Node-1">Factory</label>
                </td>
                <td>
                  <input type="radio" id="Starting Node-2" name="Starting Node-2" checked={{resultObj.isFixture}} onclick={{action "selectDBType" resultObj "isFixture"}}>
                  <label for="Starting Node-2">Fixture</label>
                </td>
                <td>
                  <input type="radio" id="Starting Node-3" name="Starting Node-3" checked={{resultObj.isRemoved}} onclick={{action "selectDBType" resultObj "isRemoved"}}>
                  <label for="Starting Node-3">Normal</label>
                </td>
              </tr>
            </tbody>
          </table>
        {{/if}}
      {{/if}}
      <br>
      <button type="button" class="mirage-gen-btn" {{action "toggleshowDB"}}>Generate Info</button>
    {{/if}}
  </div>
{{else}}
  <div class="mirage-gen-heading-section" style="align-items: center;">
    {{input type="text" class="mirage-gen-search-input" value=this.searchValue placeholder="Type your API Name" autofocus=true}}
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mirage-gen-icon" {{action this.clearAPIS}}>
      <polyline points="3 6 5 6 21 6"/>
      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
      <line x1="10" y1="11" x2="10" y2="17"/>
      <line x1="14" y1="11" x2="14" y2="17"/>
    </svg>
  </div>
  <ul class="mirage-api-list">
    {{#each this.filteredResponses as |response|}}
      <li {{action "showMiragePreview" response}}>{{response.url}}</li>
    {{/each}}
  </ul>
{{/if}}