<div class="mirage-gen" style="top: {{this.top}};left: {{this.left}}">
  <p class="mirage-gen-logo {{if this.canShowAPIContainer "mirage-gen-logo-active"}}" {{action "showAPIContainer"}}>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" viewBox="0 0 40 40" version="1.1" data-ember-extension="1">
      <defs>
        <polygon id="path-1" points="0 0 39.9999704 0 39.9999704 39.9999507 0 39.9999507"/>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-20">
          <g id="Group-3">
            <mask id="mask-2" fill="white">
              <use xlink:href="#path-1"/>
            </mask>
            <g id="Clip-2"/>
            <path d="M38.588936,17.1365025 L38.5887389,17.1363054 C35.5667685,15.6062562 34.1141576,12.0992611 35.169133,8.88044335 C35.471202,7.95857143 35.2292315,6.94507389 34.5433202,6.25906404 L33.7409557,5.45669951 C33.0549458,4.77068966 32.0414483,4.52871921 31.1195764,4.8308867 L29.8853892,5.2353202 C27.3764236,6.05758621 24.6429261,4.92536946 23.4503153,2.56980296 L22.8635172,1.41108374 C22.4251921,0.545566502 21.5376059,-4.92610837e-05 20.5674581,-4.92610837e-05 L19.4325813,-4.92610837e-05 C18.4624335,-4.92610837e-05 17.5747488,0.545566502 17.1365222,1.41108374 L17.1363251,1.41128079 C15.6062759,4.43325123 12.0992808,5.88586207 8.88046305,4.8308867 C7.95859113,4.52871921 6.94499507,4.77068966 6.25908374,5.45669951 L5.45671921,6.25906404 C4.77070936,6.94507389 4.52873892,7.95857143 4.83080788,8.88044335 C5.88578325,12.0992611 4.43317241,15.6062562 1.41120197,17.1363054 L1.41110345,17.1365025 C0.545487685,17.5747291 -2.95566502e-05,18.4624138 -2.95566502e-05,19.4325616 L-2.95566502e-05,20.5673399 C-2.95566502e-05,21.5375862 0.545487685,22.4252709 1.41110345,22.8634975 L1.41120197,22.8635961 C4.43317241,24.3937438 5.88578325,27.9007389 4.83080788,31.1195567 C4.52873892,32.0414286 4.77070936,33.0549261 5.45671921,33.740936 L6.25908374,34.5433005 C6.94499507,35.2293103 7.95859113,35.4712808 8.88046305,35.1691133 C12.0992808,34.1141379 15.6062759,35.5667488 17.1363251,38.5887192 L17.1365222,38.5889163 C17.5747488,39.4544335 18.4624335,39.9999507 19.4325813,39.9999507 L20.5674581,39.9999507 C21.5376059,39.9999507 22.4251921,39.4544335 22.8635172,38.5889163 L22.8637143,38.5887192 C24.3937635,35.5667488 27.9007586,34.1141379 31.1195764,35.1691133 C32.0414483,35.4712808 33.0549458,35.2293103 33.7409557,34.5433005 L34.5433202,33.740936 C35.2292315,33.0549261 35.471202,32.0414286 35.169133,31.1195567 C34.1141576,27.9007389 35.5667685,24.3937438 38.5887389,22.8635961 L38.588936,22.8634975 C39.4544532,22.4252709 39.9999704,21.5375862 39.9999704,20.5673399 L39.9999704,19.4325616 C39.9999704,18.4624138 39.4544532,17.5747291 38.588936,17.1365025" id="Fill-1" fill="#F69D8F" mask="url(#mask-2)"/>
          </g>
          <path d="M26.949468,19.5473202 C27.2152808,23.7493892 23.749468,27.2153005 19.5473005,26.9494877 C16.0817833,26.7301773 13.2697635,23.9181576 13.0505517,20.4526404 C12.7847389,16.2505714 16.2505517,12.7846601 20.4527192,13.0505714 C23.9181379,13.2697833 26.7301576,16.081803 26.949468,19.5473202" id="Fill-4" fill="#F05137"/>
          <path d="M30.2699704,29.0640394 L9.73006897,29.0640394 C8.68208867,29.0640394 7.83253202,28.2144828 7.83253202,27.1665025 L7.83253202,12.8334975 C7.83253202,11.7855172 8.68208867,10.9359606 9.73006897,10.9359606 L30.2699704,10.9359606 C31.3179507,10.9359606 32.1675074,11.7855172 32.1675074,12.8334975 L32.1675074,27.1665025 C32.1675074,28.2144828 31.3179507,29.0640394 30.2699704,29.0640394" id="Fill-6" fill="#142242"/>
          <path d="M30.2699704,29.0640394 L9.73006897,29.0640394 C8.68208867,29.0640394 7.83253202,28.2144828 7.83253202,27.1665025 L7.83253202,14.9753695 L32.1675074,14.9753695 L32.1675074,27.1665025 C32.1675074,28.2144828 31.3179507,29.0640394 30.2699704,29.0640394" id="Fill-8" fill="#27395E"/>
          <path d="M11.9211823,25.4160296 C11.7698522,25.4160296 11.6186207,25.3582956 11.5031527,25.2428276 C11.2723153,25.0119901 11.2723153,24.637803 11.5032512,24.406867 L12.9071921,23.0030246 L11.5032512,21.5991823 C11.2723153,21.3682463 11.2723153,20.9939606 11.5031527,20.7631232 C11.7340887,20.5322857 12.1083744,20.5323842 12.3391133,20.7630246 L14.1610837,22.5849951 C14.2720197,22.695931 14.3342857,22.8461773 14.3342857,23.0030246 C14.3342857,23.1598719 14.2720197,23.3101182 14.1610837,23.4210542 L12.3391133,25.2429261 C12.2237438,25.3582956 12.0724138,25.4160296 11.9211823,25.4160296" id="Fill-10" fill="#FFFFFF"/>
          <path d="M19.408867,25.5172414 L16.0697537,25.5172414 C15.7433498,25.5172414 15.4786207,25.2525123 15.4786207,24.9261084 C15.4786207,24.5997044 15.7433498,24.3349754 16.0697537,24.3349754 L19.408867,24.3349754 C19.7352709,24.3349754 20,24.5997044 20,24.9261084 C20,25.2525123 19.7352709,25.5172414 19.408867,25.5172414" id="Fill-12" fill="#FFFFFF"/>
          <path d="M11.0751823,13.0991232 C11.0751823,13.4777438 10.7683842,13.7845419 10.3897635,13.7845419 C10.0112414,13.7845419 9.70444335,13.4777438 9.70444335,13.0991232 C9.70444335,12.720601 10.0112414,12.413803 10.3897635,12.413803 C10.7683842,12.413803 11.0751823,12.720601 11.0751823,13.0991232" id="Fill-14" fill="#FF3B61"/>
          <path d="M14.0350837,13.0991232 C14.0350837,13.4777438 13.7282857,13.7845419 13.3497635,13.7845419 C12.9712414,13.7845419 12.6644433,13.4777438 12.6644433,13.0991232 C12.6644433,12.720601 12.9712414,12.413803 13.3497635,12.413803 C13.7282857,12.413803 14.0350837,12.720601 14.0350837,13.0991232" id="Fill-16" fill="#F9D230"/>
          <path d="M16.9950739,13.0991232 C16.9950739,13.4777438 16.6882759,13.7845419 16.3097537,13.7845419 C15.931133,13.7845419 15.624335,13.4777438 15.624335,13.0991232 C15.624335,12.720601 15.931133,12.413803 16.3097537,12.413803 C16.6882759,12.413803 16.9950739,12.720601 16.9950739,13.0991232" id="Fill-18" fill="#47C966"/>
        </g>
      </g>
    </svg>
  </p>
</div>
{{#if this.canShowAPIContainer}}
  <div class="mirage-pos-relative mirage-z-index-show">
    <MirageGenApiContainer @mirageResponses={{this.mirageResponses}} class="mirage-api-container" @clearAPIS={{action "clearAPIS"}} />
  </div>
{{/if}}
