{{#if this.outputArr}}
  <div class="mirage-gen-heading-section">
    <u class="mirage-code-heading">For DB(Data Base)</u>
  </div>
  {{#each this.outputArr as |resultObj index|}}
    {{#if resultObj.isFactory}}
      <button class="mirage-gen-accordion" id={{concat "mirage-gen-toggle-" index}} type="button" {{action "showSpecificDB" (concat "mirage-gen-toggle-" index) (concat "mirage-panel-" index)}}>
        <p class="mirage-code-heading mirage-code-subheading">Factory - for {{resultObj.prop}}</p>
      </button>
      {{mirage-gen-db/mirage-gen-factory class="mirage-code-section mirage-gen-accordion-panel" id=(concat "mirage-panel-" index) resultObj=resultObj factoriesList=this.factoriesList}}
    {{else}}
      <button class="mirage-gen-accordion" id={{concat "mirage-gen-toggle-" index}} type="button" {{action "showSpecificDB" (concat "mirage-gen-toggle-" index) (concat "mirage-panel-" index)}}>
        <p class="mirage-code-heading mirage-code-subheading">Fixture - for {{resultObj.prop}}</p>
      </button>
      {{mirage-gen-db/mirage-gen-fixture class="mirage-code-section mirage-gen-accordion-panel" id=(concat "mirage-panel-" index) resultObj=resultObj fixturesList=this.fixturesList}}
    {{/if}}
  {{/each}}
{{/if}}
<div class="mirage-code-section">
  <u class="mirage-code-heading">For Tests</u>
  <section class="mirage-pos-relative mirage-code">
    <MirageGenCopyPaste @editorId="test-code-block">
      <pre contenteditable={{true}} class="mirage-code-block" id="test-code-block">test('Test', async(assert) => {
{{#each this.factories as |node|}}
{{#if node.isArray}}
  server.createList('{{node.prop}}', {{node.arrLength}});
{{else}}
  server.create('{{node.prop}}');
{{/if}}
{{/each}}
{{#if this.fixtures}}  server.loadFixtures({{/if}}{{#each this.fixtures as |node|}}'{{node.prop}}'{{/each}}{{#if this.fixtures}});
{{/if}}
});</pre>
    </MirageGenCopyPaste>
  </section>
</div>
